In [ ]:
YT link: https://www.youtube.com/watch?v=2uvysYbKdjM&list=PLFCB5Dp81iNVmuoGIqcT5oF4K-7kTI5vp&index=25

**Python Pandas**

In [2]:
import pandas as pd

In [47]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A","B","C"], index=["X","Y","Z"])

print(df)

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [49]:
df.head(1)

   A  B  C
X  1  2  3

In [51]:
df.tail(1)

   A  B  C
Z  7  8  9

In [53]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [55]:
df.shape

(3, 3)

In [57]:
df.index.tolist()

['X', 'Y', 'Z']

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [69]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [74]:
df.size

9